<!-- Header/Home -->
<header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small"><%= @character.name %></span></h1>
<p><h3><%= @character.occupation %></h3></p>
</header>

<div class="w3-content w3-justify w3-text-grey w3-padding-64">
<img src="<%= @character.img %>" width="400px">
<p>BIRTHDAY: <%= @character.birthday %></p>
<p>ACTOR: <%= @character.actor %></p>
<p>NICKNAME: <%= @character.nickname %></p>
<p>STATUS: <%= @character.status %></p>
<br><br>
<% if !@quotes.empty? %>
    QUOTES:
    <p>
    <ul>
    <% @quotes.each do |quote| %>
        <li><%= quote.quote %></li>
    <% end %>
    </ul>
    </p>
<% end %>
</div>